
        <!-- About Us Start -->
        <div id="rs-about" class="rs-about sec-spacer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="about-left">
              <img src="images/about/about.jpg" alt="About-image" />
            
              </div>
            </div>
                    
                    <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="about-right">
              <div class="display-table">
                <div class="display-table-cell">
                  <div class="sec-title">
                    <h3>About Me !</h3> 
                    <span>I'm Shajib mahabub, Web Designer & Developer</span>
                  </div>
                  <p>Suspendisse ex neque, sollicitudin in velit eu, luctus gravida nunc. Nulla pulvinar risus sed metus euismod sodales ut sed nisi. Nulla posu ere suscip it finibus. Quis que placerat vitae lacus ut scelerisque.similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks rea sonable. The generated Lorem Ipsum.</p>
                  <ul>
                                        <li><a href="#rs-portfolio" class="primary-btn mr-25">Update</a></li>
                                        
                                    </ul>
                </div>
              </div>
            </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <!-- About Us End -->
    
   <section class="practice-area padding-lg">
  <div class="container">
    <div class="row heading heading-icon">
        <h2>WHAT I DO</h2>
    </div>
    <ul class="row">
      <li class="col-12 col-md-4 equal-hight" style="height: 356px;">
        <div class="inner"> <img src="images/intellectual-icon.png" alt="Intellectual Property">
          <h3>Intellectual Property</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum enim non ornare vulputate. Sed convallis magna eu metus fringilla mattis.</p>
         
        </div>
      </li>
      <li class="col-12 col-md-4 equal-hight" style="height: 356px;">
        <div class="inner"> <img src="images/finance-icon.png" alt="Finance &amp; Banking">
          <h3>Finance &amp; Banking</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum enim non ornare vulputate. Sed convallis magna eu metus fringilla mattis.</p>
         
        </div>
      </li>
      <li class="col-12 col-md-4 equal-hight" style="height: 356px;">
        <div class="inner"> <img src="images/sexual-icon.png" alt="Sexual Offences">
          <h3>Sexual Offences</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum enim non ornare vulputate. Sed convallis magna eu metus fringilla mattis.</p>
         
        </div>
      </li>
      <li class="col-12 col-md-4 equal-hight" style="height: 356px;">
        <div class="inner"> <img src="images/real-estate-icon.png" alt="Real Estate Constuction">
          <h3>Real Estate Constuction</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum enim non ornare vulputate. Sed convallis magna eu metus fringilla mattis.</p>
          
        </div>
      </li>
      <li class="col-12 col-md-4 equal-hight" style="height: 356px;">
        <div class="inner"> <img src="images/money-laundering-icon.png" alt="Money Laundering">
          <h3>Money Laundering</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum enim non ornare vulputate. Sed convallis magna eu metus fringilla mattis.</p>
      
        </div>
      </li>
      <li class="col-12 col-md-4 equal-hight" style="height: 356px;">
        <div class="inner"> <img src="images/merger-acquisition-icon.png" alt="Merger &amp; Acquisition">
          <h3>Merger &amp; Acquisition</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum enim non ornare vulputate. Sed convallis magna eu metus fringilla mattis.</p>
         
        </div>
      </li>
    </ul>
  </div>
</section>
 <section class="practice-area padding-lg">
  <div class="container">
    <div class="row heading heading-icon">
        <h2>My Result about personalty</h2>
    </div>
    <ul class="row">
      <li class="col-12 col-md-12 equal-hight" style="height: 356px;">
        <div class="inner"> <img src="images/intellectual-icon.png" alt="Intellectual Property">
          <h3>Intellectual Property</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum enim non ornare vulputate. Sed convallis magna eu metus fringilla mattis.</p>
         
        </div>
      </li>

    
     
     
    </ul>
  </div>
</section>