<section class="practice-area padding-lg">
  <div class="container">
    <div class="row heading heading-icon">
        <h2>Result Area</h2>
    </div>
    <ul class="row">
   
      <li class="col-12 col-md-12 equal-hight" style="height: 356px;">
        <div class="inner">
          <h3>Reuslt  &amp; Quiz</h3>

         <ul class="clearfix">
          <li>
          </li>

        </ul>

          <h4 style="color: green;">Correct MCQ <span style="margin-left: 20px;">  12</span> </h4>
          <h4>Wrong MCQ  <span  style="margin-left: 20px;">  23 </span></h4>
          <h4 style="color: black;  ">Result IN persentage<span style="margin-left: 20px;">38% </span> </h4>
             <%= link_to "Back to profile", {controller: "home", action: "index"}, class:"dropdown-item" %>
      
        </div>
      </li>
      
    
  </div>
</section>